{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
{% load staticfiles%}




{{hood.name}}

{% if businesses%}
{% for business in businesses%}
{{business.name}}
{% endfor %}

{% endif %}
<a href="{% url 'add_biz'  %}" class="btn btn-sm btn-success">Add Business</a>

<a href="{% url 'add_post'  %}" class="btn btn-sm btn-success">Add Post</a>
<a href="{% url 'leave_hood' hood.id  %}" class="btn btn-sm btn-danger">Leave Hood</a>


{% if posts%}
{% for post in posts%}
{{post.name}}
{{post.poster}}
{% endfor %}

{% endif %}
{% endblock %}